<section class="new">
    <header>
      <span>{{ rowName }}</span>
      <div>
        <span>MORE</span>
      </div>
    </header>

    <!-- CARD LIST -->
    <div class="card-list">
      <div class="card-block">
        <div class="card">
          <img src="./assets/img/list1.jpg" >
        </div>
        <span id="ListName">Best HipHop Albums</span>
      </div>

      <div class="card-block">
        <div class="card">
          <img src="./assets/img/list2.jpg" >
        </div>
        <span id="ListName">Derek's Favorite Albums</span>
      </div>

      <div class="card-block">
        <div class="card">
          <img src="./assets/img/list3.jpg" >
        </div>
        <span id="ListName">Best Indie Rock Albums of All Time</span>
      </div>

       <div class="card-block">
        <div class="card">
          <img src="./assets/img/list4.jpg" >
        </div>
        <span id="ListName">Favs</span>
      </div>
    
    </div> 

  </section>
