<app-navigation-bar></app-navigation-bar>
<body>
    <div class="container">
        <div class="row">
          <div class="col-md-10">
              <div class="album-cover-img cover-container"></div>
              <div class="album-img">
                
                  <img
                    src="./assets/img/album5.png"
                    alt=""
                    title="MBDTF"
                  />
              </div>
              <div class="albumName">
                <h2 class="textColor">My Beautiful Dark Twisted Fantasy (2010)</h2>
              </div>
              <div class="albumArtist">
                <h4 class="textColor">Kanye West </h4>
              </div>
            </div>
        </div>
      </div>
  
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <br />
  
            <div class="album-information">
              <div class="card">
                <h2 class="tracklistHeader">Track List</h2>
                <div class="tracklist">
                    <p class="textColor">So Appalled</p>
                 </div>
                 <div class="tracklist">
                    <p class="textColor">Blame Game</p>
                 </div>
                 <div class="tracklist">
                    <p class="textColor">Gorgeous</p>
                 </div>
                 <div class="tracklist">
                    <p class="textColor">All of the Lights</p>
                 </div>
                 <div class="tracklist">
                    <p class="textColor">Lost in the World</p>
                 </div>
                 <div class="tracklist">
                    <p class="textColor">Power</p>
                 </div>
                 <div class="tracklist">
                    <p class="textColor">Who Will Survive in America</p>
                 </div>
                 <div class="tracklist">
                    <p class="textColor">Monster</p>
                 </div>
                 <div class="tracklist">
                    <p class="textColor">Devil in a New Dress</p>
                 </div>
                 <div class="tracklist">
                    <p class="textColor">Runaway</p>
                 </div>
                 <div class="tracklist">
                    <p class="textColor">Hell of a Life</p>
                 </div>
            </div>   
          </div>
    
        </div>
      
        <div class="col-md-6">
          <br />
          
            <div class="col-md-12">
              <div class="card" >
                <div class="card-header fc-card-header" style=" color: rgb(183, 219, 219);">Create Review</div>
                <div class="row">                
                  <div class="col-md-10">
                    <form id="review">  
                      <textarea
                      class="form-control"
                      placeholder="What's on your mind?"
                      form="review"
                    ></textarea>
                  </form>
                  </div>
                  <button class="button">
                    <label>Create Review</label>
                </button>
                </div>
              </div>
            </div>
          <br />
            <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="textColor">
                    Name's review
                  </div>
                  <hr />
                  <span class="textColor">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                    in feugiat mauris. Maecenas nec pharetra arcu. Cras eleifend
                    posuere dui, in molestie eros placerat vel.
                  </span>
                </div>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <div class="interactions">
                      <span class="textColor">1 share 13 thousand views</span>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row" >
                  <div class="col-md-3">
                      <button class="button">
                        <label>Like</label>
                    </button>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
  
          <br />
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="textColor">
                    Name's review
                  </div>
                  <hr />
                  <span class="textColor">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                    in feugiat mauris. Maecenas nec pharetra arcu. Cras eleifend
                    posuere dui, in molestie eros placerat vel.
                  </span>
                </div>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <div class="interactions">
                      <span class="textColor">1 share 13 thousand views</span>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row" >
                  <div class="col-md-3">
                      <button class="button">
                        <label>Like</label>
                    </button>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
                <br />
              </div>
            </div>
          </div>