<section class="new">
    <header>
      <span>{{ rowName }}</span>
      <div>
        <span>MORE</span>
      </div>
    </header>

    <!-- CARD LIST -->
    <div class="card-list">
      <div class="card-block">
        <div class="card">
          <a (click)="navigateToAlbumPage()"><img src="./assets/img/album9.png" ></a>
        </div>
      </div>
      <div class="card-block">
        <div class="card">
          <a (click)="navigateToWutang()"><img src="./assets/img/album10.jpg" ></a>
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <img src="./assets/img/album11.jpg" >
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <a (click)="navigateToJoji()"><img src="./assets/img/album12.png" ></a>
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <img src="./assets/img/album13.png" >
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <a (click)="navigateToJoey()"><img src="./assets/img/album14.webp" ></a>
        </div>
      </div>
    </div>

  </section>
