<header id="main-header">
    <div class="container">
      <strong class="tuneBox"><a (click)="navigateToHome()">TUNEBOX</a></strong>
      <div class="actions">
        <div class="user-action">
          <strong><a (click)="navigateToProfilePage()">PROFILE</a></strong>
        </div>
        <strong style="white-space: nowrap;"> MY ALBUMS</strong>
        <strong>LISTS</strong>
        <form class="search-form" id="form1">
          <label for="search-input"><i class="fa fa-search"></i></label>
          <input type="text" id="search-input" name="search" placeholder="Search...">
        </form>
        <button type="submit" form="form1"  id="button">Go</button>
      </div>
    </div>
  </header>
  
