<html>
<head>
    <title>Login Form</title>
</head>
<body>
    <h2>TUNEBOX LOGIN</h2><br>
    <div class="login">
    <form id="login" method="get" action="login.php">
        <label><b>Username
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Password">
        <br><br>
        <a (click)="navigateToHomePage()" class="button" name="log" id="log"> Login </a>
        <br><br>
        <a (click)="navigateToHomePage()" class="button" name="log" id="log"> Register </a>
        <br><br>
       
    </form>
</div>
</body>
</html>