<section class="new">
    <header>
      <span>{{ rowName }}</span>
      <div>
        <span>MORE</span>
      </div>
    </header>

    <!-- CARD LIST -->
    <div class="card-list">
      <div class="card-block">
        <div class="card">
          <a (click)="navigateToDom()"><img src="./assets/img/album16.jpg" ></a>
        </div>
      </div>
      <div class="card-block">
        <div class="card">
          <a (click)="navigateToMaggie()"> <img src="./assets/img/album15.png" ></a>
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <a (click)="navigateToKanye()"> <img src="./assets/img/album5.png" ></a>
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <a (click)="navigateToWeek()"><img src="./assets/img/album7.png" ></a>
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <a (click)="navigateToDrake()"><img src="./assets/img/album8.jpg" ></a>
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <a (click)="navigateToMac()"><img src="./assets/img/album1.png" ></a>
        </div>
      </div>
    </div>

  </section>