<section class="new">
    <header>
      <span>{{ rowName }}</span>
      <div>
        <span>MORE</span>
      </div>
    </header>

    <!-- CARD LIST -->
    <div class="card-list">
      <div class="card-block">
        <div class="card">
          <img src="./assets/img/album16.jpg" >
        </div>
      </div>
      <div class="card-block">
        <div class="card">
          <img src="./assets/img/album15.png" >
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <img src="./assets/img/album5.png" >
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <img src="./assets/img/album7.png" >
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <img src="./assets/img/album8.jpg" >
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <img src="./assets/img/album1.png" >
        </div>
      </div>
    </div>

  </section>