<section class="new">
    <header>
      <span>{{rowName}}</span>
      <div>
        <span>MORE</span>
      </div>
    </header>

    <!-- CARD LIST -->
    <div class="card-list">
      <div class="card-block">
        <div class="card">
          <img src="./img/album.png" >
        </div>
      </div>
      <div class="card-block">
        <div class="card">
          <img src="./img/album.png" >
        </div>
      </div>



      <div class="card-block">
        <div class="card">
          <img src="./img/album.png" >
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <img src="./img/album.png" >
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <img src="./img/album.png" >
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <img src="./img/album.png" >
        </div>
      </div>
    </div>

  </section>