<app-navigation-bar></app-navigation-bar>
<body>
    <div class="container">
        <div class="row">
          <div class="col-md-10">
              <div class="album-cover-img cover-container"></div>
              <div class="album-img">
                
                  <img
                    src="./assets/img/blank-profile-picture.png"
                    alt=""
                    title="(User Name)"
                  />
              </div>
              <div class="userName">
                <h2 class="textColor">(User Name)</h2>
              </div>
            </div>
        </div>
      </div>
  
      <div class="container">
        <div class="row">
      
        <div class="col-md-6">
          <br />
  
          <br />
          <div class="yourReviews">
            <h4 class="textColor">Your Reviews</h4>
          </div>
            <div class="row">    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="textColor">
                    IGOR <br>
                    Tyler, The Creator
                  </div>
                  <hr />
                  <span class="textColor">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                    in feugiat mauris. Maecenas nec pharetra arcu. Cras eleifend
                    posuere dui, in molestie eros placerat vel.
                  </span>
                </div>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <div class="interactions">
                      <span class="textColor">13 Likes</span>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
  
          <br />
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="textColor">
                    In Rainbows <br>
                    Radiohead
                  </div>
                  <hr />
                  <span class="textColor">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                    in feugiat mauris. Maecenas nec pharetra arcu. Cras eleifend
                    posuere dui, in molestie eros placerat vel.
                  </span>
                </div>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <div class="interactions">
                      <span class="textColor">13 Likes</span>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
                <br />
              </div>
            </div>
          </div>