<app-navigation-bar></app-navigation-bar>
<body>
    <div class="container">
        <div class="row">
          <div class="col-md-10">
              <div class="album-cover-img cover-container"></div>
              <div class="album-img">
                
                  <img
                    src="./assets/img/blank-profile-picture.png"
                    alt=""
                    title="(User Name)"
                  />
              </div>
              <div class="userName">
                <h2 class="textColor">(User Name)</h2>
              </div>
            </div>
        </div>
      </div>
  
      <div class="container">
        <div class="row">
      
        <div class="col-md-6">
          <br />
  
          <br />
          <div class="yourReviews">
            <h4 class="textColor">Your Reviews</h4>
          </div>
          
          
          <app-reviews [type]="type"></app-reviews>
                <br />
              </div>
            </div>
          </div>