::ng-deep body{
  background-color: #1d2129;
  color: #1d2129;
}
::ng-deep .button {
  border: none;
  background-color: #6e97c2;
  color: #fff;
  padding: 5px 5px;
  border-radius: 5px;
  margin-left:12px;
  font-size: 14px;
  cursor: pointer;
}

::ng-deep .album-cover-img {
display: block;
height: 215px;
overflow: hidden;
position: relative;
text-decoration: none;
}
::ng-deep .album-img img {
bottom: 15px;
box-shadow: none;
display: block;
left: 15px;
padding: 1px;
position: absolute;
height: 160px;
width: 160px;
z-index: 9;
}
::ng-deep .userName {
display:flex ;
justify-content:center
}
::ng-deep .albumArtist{
display:flex ;
justify-content:center
}
::ng-deep .card{
padding-left: 2px;
padding-top:2px;
padding-right:2px; 
background-color: #495263;
}
::ng-deep .tracklistHeader{
color: rgb(183, 219, 219);
text-align: center;
}
::ng-deep .interactions{
text-align: right;
margin-right: 24px;
}
::ng-deep .textColor{
color: rgb(183, 219, 219);
}

::ng-deep .container{
border-bottom: 3px solid rgb(66,82,99);
padding-bottom: 3px;
}
::ng-deep .col-md-6{
  margin: auto;
}
::ng-deep .yourReviews{
  text-align: center;
  padding-bottom: 25px;
}
