<section class="reviews">
    <header>
      <span>POPULAR REVIEWS THIS WEEK</span>
      <div>
        <span>MORE</span>
      </div>
    </header>

    <div class="review-list">
      <article class="review-container">
        <header class="review-header">
          <div class="poster">
            <img src="./img/album.png" >
          </div>
          <div class="info">
            <div class="author">
              <span>Derek</span>
            </div>
            <h2>Album Name<span>2020</span></h2>
            <div class="movie">
              <div class="comments">
                <span>12 comments</span>
              </div>
            </div>
          </div>
        </header>
        <div class="review-body">
          <p>This is a hardcoded review </p>
        </div>
        <footer>
          <div class="like">
            <button type="button" class="button"></button>
            <strong>Like review</strong>
          </div>
          <span>38 likes</span>
        </footer>
      </article>

      <div class="review-list">
        <article class="review-container">
          <header class="review-header">
            <div class="poster">
              <img src="./img/album.png" >
            </div>
            <div class="info">
              <div class="author">
                <span>Luke</span>
              </div>
              <h2>Album Name<span>2020</span></h2>
              <div class="movie">
                <div class="comments">
                  <span>12 comments</span>
                </div>
              </div>
            </div>
          </header>
          <div class="review-body">
            <p>Will need to work on connecting to database </p>
          </div>
          <footer>
            <div class="like">
              <button type="button" class="button"></button>
              <strong>Like review</strong>
            </div>
            <span>38 likes</span>
          </footer>
        </article>