<section class="reviews">
    <header>
      <span>POPULAR REVIEWS THIS WEEK</span>
      <div>
        <span>MORE</span>
      </div>
    </header>

    <div class="review-list">
      <article class="review-container">
        <header class="review-header">
          <div class="poster">
            <img src="./assets/img/album5.png" >
          </div>
          <div class="info">
            <div class="author">
              <span>Derek</span>
            </div>
            <h2>My Dark Twisted Fantasy<span>2010</span></h2>
            <div class="movie">
              <div class="comments">
                <span>0 comments</span>
              </div>
            </div>
          </div>
        </header>
        <div class="review-body">
          <p>Best Kanye Album of all time. </p>
        </div>
        <footer>
          <div class="like">
            <button type="button" class="button"></button>
            <strong>Like review</strong>
          </div>
          <span>31 likes</span>
        </footer>
      </article>

      <div class="review-list">
        <article class="review-container">
          <header class="review-header">
            <div class="poster">
              <img src="./assets/img/album11.jpg" >
            </div>
            <div class="info">
              <div class="author">
                <span>Luke</span>
              </div>
              <h2>The Stranger<span>1977</span></h2>
              <div class="movie">
                <div class="comments">
                  <span>12 comments</span>
                </div>
              </div>
            </div>
          </header>
          <div class="review-body">
            <p>Billy Joel is underrated and underappreciated. He is the GOAT. </p>
          </div>
          <footer>
            <div class="like">
              <button type="button" class="button"></button>
              <strong>Like review</strong>
            </div>
            <span>24 likes</span>
          </footer>
        </article>