
<!--Navigation Bar -->
    <app-navigation-bar></app-navigation-bar>

  <body>
  <main class="container">
     <!--Popular on TuneBox -->
     <app-first-row ></app-first-row>
  <!--New on Tune Box -->
 <app-not-first-row rowName="NEW ON TUNEBOX" ></app-not-first-row>
 <app-top-rated-album-section rowName="TOP RATED ALBUMS"></app-top-rated-album-section>
 <app-top-rated-lists rowName="TOP RATED LISTS"></app-top-rated-lists>
  <!-- Top Rated Albums-->
 <app-popular-reviews></app-popular-reviews>