<section class="popular">
    <header>
      <span>POPULAR ON TUNEBOX</span>
      <div>
        <span>MORE</span>
      </div>
    </header>
    <div class="card-list">
      <div class="card">
        <img src="./assets/img/album1.png" >
      </div>

      <div class="card">
        <img src="./assets/img/album2.png" >
      </div>

      <div class="card">
        <img src="./assets/img/album3.png" >
      </div>

      <div class="card">
        <img src="./assets/img/album4.png" >
      </div>

      <div class="card">
        <img src="./assets/img/album5.png" >
      </div>

      <div class="card">
        <img src="./assets/img/album6.png" >
      </div>
    </div>
  </section>