<section class="popular">
    <header>
      <span>POPULAR ON TUNEBOX</span>
      <div>
        <span>MORE</span>
      </div>
    </header>
    <div class="card-list">
      <div class="card">
        <img src="./img/album.png" >
      </div>

      <div class="card">
        <img src="./img/album.png" >
      </div>

      <div class="card">
        <img src="./img/album.png" >
      </div>

      <div class="card">
        <img src="./img/album.png" >
      </div>

      <div class="card">
        <img src="./img/album.png" >
      </div>

      <div class="card">
        <img src="./img/album.png" >
      </div>
    </div>
  </section>